.logom {
  height:72px;
  border: none;
  padding-left:1180px;
width:110px;
margin-bottom:7px;;
margin-top:25px;

}

.navbar {
 font-size:30px;
  padding: 10px 20px;           
  margin-top:2px;
transform: translateX(-50%);
left:50%;
position:absolute
}
.navbar a {
  text-decoration: none;       
  color: #CC1728;                
  margin: 0 10px;    
  font-weight: bold;           
  transition: transform 0.3s ease, color 0.3s ease;
  display: inline-block;
}

.navbar a:hover {
  transform: scale(1.2);    
  color: #fd0202; 
}
.header-container{
  position: fixed;    /* keeps it at the top */
  top: 0;
  left: 0;
  width: 100%;        /* full width */
  height:120px;       /* adjust height */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* optional shadow */
  z-index: 1000;      /* makes sure it stays above other elements */
 background-color: white;
}
.profile{
  margin-bottom:340px;
  margin-top:350px;
  width:105px;
  padding:30px;
}

